In [7]:
import pandas as pd
from pathlib import Path

In [8]:
ev_stations_to_load = Path("Resources/ev_stations_v1.csv")

In [10]:
ev_stations = pd.read_csv(ev_stations_to_load)

/var/folders/0h/lqy3k6gn3dnf1vwn1ct91kc80000gn/T/ipykernel_25223/3517020944.py:1: DtypeWarning: Columns (6,20) have mixed types. Specify dtype option on import or set low_memory=False.
  ev_stations = pd.read_csv(ev_stations_to_load)

In [14]:
ev_stations.head()

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,ELEC,LADWP - Truesdale Center,11797 Truesdale St,NaN,Sun Valley,CA,91352,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELEC,LADWP - West LA District Office,1394 S Sepulveda Blvd,NaN,Los Angeles,CA,90024,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ELEC,Los Angeles Convention Center,1201 S Figueroa St,West hall and South hall,Los Angeles,CA,90015,NaN,213-741-1151,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ELEC,LADWP - John Ferraro Building,111 N Hope St,Across Hope,Los Angeles,CA,90012,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ELEC,LADWP - Haynes Power Plant,6801 E 2nd St,NaN,Long Beach,CA,90803,NaN,NaN,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
cleaned_df = ev_stations[["Station Name", "Street Address", "City", "State",
                         "ZIP", "Groups With Access Code", "Access Days Time", 
                         "Latitude", "Longitude", "EV Pricing"]]
cleaned_df

,Station Name,Street Address,City,State,ZIP,Groups With Access Code,Access Days Time,Latitude,Longitude,EV Pricing
0,LADWP - Truesdale Center,11797 Truesdale St,Sun Valley,CA,91352,Private,Fleet use only,34.248319,-118.387971,NaN
1,LADWP - West LA District Office,1394 S Sepulveda Blvd,Los Angeles,CA,90024,Private,NaN,34.052542,-118.448504,Free
2,Los Angeles Convention Center,1201 S Figueroa St,Los Angeles,CA,90015,Public,24 hours daily; pay lot,34.040539,-118.271387,NaN
3,LADWP - John Ferraro Building,111 N Hope St,Los Angeles,CA,90012,Private,For fleet and employee use only,34.059133,-118.248589,NaN
4,LADWP - Haynes Power Plant,6801 E 2nd St,Long Beach,CA,90803,Private,Fleet use only,33.759802,-118.096665,NaN
...,...,...,...,...,...,...,...,...,...,...
50284,VIP LOT STATION1,1501 Kirkwood Meadows Dr,Markleeville,CA,96120,Public,24 hours daily,38.684660,-120.065169,NaN
50285,Prunedale Shopping Center,8065 San Miguel Canyon Rd,Salinas,CA,93907,Public,24 hours daily,36.801716,-121.664153,NaN
50286,Beaverton Electric Avenue,11665 SW Beaverton Hillsdale Hwy,Beaverton,OR,97005,Public,24 hours daily,45.489030,-122.798151,NaN
50287,Shell - Inman,2040 Highway 292,Inman,SC,29349,Public,24 hours daily,35.082476,-82.058433,NaN
50288,"Westfield Trumbull (Trumbull, CT)",5065 Main Street,Trumbull,CT,6611,Public,24 hours daily,41.228951,-73.223944,NaN

In [27]:
cleaned_df.dropna(how='any')

,Station Name,Street Address,City,State,ZIP,Groups With Access Code,Access Days Time,Latitude,Longitude,EV Pricing
10,California Air Resources Board,9530 Telstar Ave,El Monte,CA,91731,Public,24 hours daily,34.068720,-118.064000,Free
12,Scripps Green Hospital,10666 N Torrey Pines Rd,La Jolla,CA,92037,Public,24 hours daily,32.899470,-117.243000,Pay to Park
13,Galpin Motors,15421 Roscoe Blvd,Sepulveda,CA,91343,Public - Call ahead,Dealership business hours,34.221665,-118.468371,Free
14,Galleria at Tyler,1299 Galleria at Tyler,Riverside,CA,92503,Public,6am-12am daily,33.909914,-117.459053,Free
15,City of Pasadena - Holly Street Garage,150 E Holly St,Pasadena,CA,91103,Public,24 hours daily; pay lot,34.147620,-118.147111,Free
...,...,...,...,...,...,...,...,...,...,...
50237,Bill Clough Ford,227 US-13,Windsor,NC,27983,Public,MON: 24 hours | TUE: 24 hours | WED: 24 hours ...,36.001416,-76.962169,Level 2: $0.49 per kWh
50238,Ford - Jerseyville Motor Company,1205 S State St,Jerseyville,IL,62052,Public,MON: 24 hours | TUE: 24 hours | WED: 24 hours ...,39.106184,-90.315512,Level 2: $0.49 per kWh
50239,One/Two Irvington Center,702 King Farm Blvd.,Rockville,MD,20850,Public,MO: 12:00am-12:00am; TU: 12:00am-12:00am; WE: ...,39.110866,-77.177882,$1.00-$10.00/Hr Variable Parking Fee
50240,600 New Hampshire Ave,600 New Hampshire Avenue Northwest,Washington,DC,20037,Public,MO: Not Specified; TU: Not Specified; WE: Not ...,38.897843,-77.054991,$2.00/Hr Parking Fee
50241,Sonesta San Jose,777 Bellew Drive,Milpitas,CA,95035,Public,MO: Not Specified; TU: Not Specified; WE: Not ...,37.422497,-121.919266,$0.20/kWh Energy Fee

In [28]:
cleaned_df.to_csv('cleaned_ev_stations.csv', index=False)

In [36]:
gas_prices_to_load = Path("Resources/gas_prices.csv")

In [37]:
gas_prices = pd.read_csv(gas_prices_to_load)

In [38]:
gas_prices

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2000,1.301,1.369,1.541,1.506,1.498,1.617,1.593,1.510,1.582,1.559,1.555,1.489
1,2001,1.472,1.484,1.447,1.564,1.729,1.640,1.482,1.427,1.531,1.362,1.263,1.131
2,2002,1.139,1.130,1.241,1.407,1.421,1.404,1.412,1.423,1.422,1.449,1.448,1.394
3,2003,1.473,1.641,1.748,1.659,1.542,1.514,1.524,1.628,1.728,1.603,1.535,1.494
4,2004,1.592,1.672,1.766,1.833,2.009,2.041,1.939,1.898,1.891,2.029,2.010,1.882
5,2005,1.823,1.918,2.065,2.283,2.216,2.176,2.316,2.506,2.927,2.785,2.343,2.186
6,2006,2.315,2.310,2.401,2.757,2.947,2.917,2.999,2.985,2.589,2.272,2.241,2.334
7,2007,2.274,2.285,2.592,2.860,3.130,3.052,2.961,2.782,2.789,2.793,3.069,3.020
8,2008,3.047,3.033,3.258,3.441,3.764,4.065,4.090,3.786,3.698,3.173,2.151,1.689
9,2009,1.787,1.928,1.949,2.056,2.265,2.631,2.543,2.627,2.574,2.561,2.660,2.621
10,2010,2.731,2.659,2.780,2.858,2.869,2.736,2.736,2.745,2.704,2.795,2.852,2.985
11,2011,3.091,3.167,3.546,3.816,3.933,3.702,3.654,3.630,3.612,3.468,3.423,3.278
12,2012,3.399,3.572,3.868,3.927,3.792,3.552,3.451,3.707,3.856,3.786,3.488,3.331
13,2013,3.351,3.693,3.735,3.590,3.623,3.633,3.628,3.600,3.556,3.375,3.251,3.277
14,2014,3.320,3.364,3.532,3.659,3.691,3.695,3.633,3.481,3.403,3.182,2.887,2.560
15,2015,2.110,2.249,2.483,2.485,2.775,2.832,2.832,2.679,2.394,2.289,2.185,2.060
16,2016,1.967,1.767,1.958,2.134,2.264,2.363,2.225,2.155,2.208,2.243,2.187,2.230
17,2017,2.351,2.299,2.323,2.418,2.386,2.337,2.281,2.374,2.630,2.484,2.548,2.459
18,2018,2.539,2.575,2.572,2.737,2.907,2.914,2.873,2.862,2.873,2.887,2.671,2.414
19,2019,2.289,2.353,2.564,2.835,2.901,2.752,2.776,2.655,2.630,2.673,2.620,2.587
20,2020,2.567,2.465,2.267,1.876,1.879,2.076,2.176,2.177,2.193,2.159,2.090,2.168
21,2021,2.326,2.496,2.791,2.839,2.972,3.154,3.233,3.255,3.265,3.385,3.482,3.408
22,2022,3.413,3.592,4.312,4.271,4.604,5.058,4.667,4.101,3.881,4.016,3.853,3.356
23,2023,3.452,3.514,3.551,3.735,3.685,3.712,3.732,3.955,3.988,3.782,3.500,3.289
24,2024,3.221,3.359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
gas_prices.to_csv('gas_prices_df.csv', index=False)

In [47]:
light_duty_vehicle_inventory_to_load = Path("Resources/citylightdutyvehicleinventory.csv")

In [48]:
light_duty_vehicle_inventory = pd.read_csv(light_duty_vehicle_inventory_to_load)

In [50]:
light_duty_vehicle_inventory.dropna(how='any')

,state_abbr,gisjoin,city_id,city_name,fuel_type_org,fuel_type,class,before 1980,1980-99,1990-99,...,2009.1,2010.1,2011.1,2012.1,2013.1,2014.1,2015.1,2016.1,2017.1,2018.1
576,AL,G01007000,107000,Birmingham,UNK,Other/Unknown,Unknown,0.60%,0.04%,0.03%,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2868,AL,G01037000,137000,Huntsville,UNK,Other/Unknown,Unknown,0.38%,0.02%,0.03%,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3710,AL,G01050000,150000,Mobile,UNK,Other/Unknown,Unknown,0.37%,0.04%,0.04%,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3755,AL,G01051000,151000,Montgomery,UNK,Other/Unknown,Unknown,0.37%,0.05%,0.06%,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3855,AL,G01051696,151696,Mountain Brook,UNK,Other/Unknown,Unknown,0.22%,0.07%,0.01%,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288834,VA,G51057000,5157000,Norfolk,UNK,Other/Unknown,Unknown,0.18%,0.03%,0.07%,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
289664,VA,G51082000,5182000,Virginia Beach,UNK,Other/Unknown,Unknown,0.13%,0.02%,0.05%,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
293210,WA,G53067000,5367000,Spokane,UNK,Other/Unknown,Unknown,0.38%,0.04%,0.03%,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
302297,WI,G55051150,5551150,Mequon,UNK,Other/Unknown,Unknown,0.16%,0.02%,0.01%,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
302462,WI,G55053000,5553000,Milwaukee,UNK,Other/Unknown,Unknown,0.07%,0.01%,0.01%,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
ev_sales_to_load = Path("Resources/ev_historical_sales.csv")

In [54]:
ev_sales = pd.read_csv(ev_sales_to_load)

In [55]:
ev_sales

        region    category parameter  mode powertrain  year      unit    value
0    Australia  Historical  EV sales  Cars        BEV  2011  Vehicles       49
1    Australia  Historical  EV sales  Cars        BEV  2012  Vehicles      170
2    Australia  Historical  EV sales  Cars       PHEV  2012  Vehicles       80
3    Australia  Historical  EV sales  Cars       PHEV  2013  Vehicles      100
4    Australia  Historical  EV sales  Cars        BEV  2013  Vehicles      190
..         ...         ...       ...   ...        ...   ...       ...      ...
829      World  Historical  EV sales  Cars       PHEV  2020  Vehicles   970000
830      World  Historical  EV sales  Cars       PHEV  2021  Vehicles  1900000
831      World  Historical  EV sales  Cars        BEV  2021  Vehicles  4600000
832      World  Historical  EV sales  Cars        BEV  2022  Vehicles  7300000
833      World  Historical  EV sales  Cars       PHEV  2022  Vehicles  2900000

[834 rows x 8 columns]

In [58]:
ev_sales_cleaned = ev_sales[["region", "powertrain","year", "value"]]
ev_sales_cleaned

        region powertrain  year    value
0    Australia        BEV  2011       49
1    Australia        BEV  2012      170
2    Australia       PHEV  2012       80
3    Australia       PHEV  2013      100
4    Australia        BEV  2013      190
..         ...        ...   ...      ...
829      World       PHEV  2020   970000
830      World       PHEV  2021  1900000
831      World        BEV  2021  4600000
832      World        BEV  2022  7300000
833      World       PHEV  2022  2900000

[834 rows x 4 columns]

In [60]:
ev_sales_cleaned.to_csv("Cleaned_data/ev_sales.csv", index=False)