In [6]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [7]:
sales_compared_to_load = Path("Resources/car_sales_compared.csv")

In [8]:
all_sales = pd.read_csv(sales_compared_to_load)

In [28]:
all_sales_final = all_sales[["Entity","Year","Electric cars sold","Non-electric car sales"]]

In [29]:
all_sales_final.set_index(['Entity','Year'])

                Electric cars sold  Non-electric car sales
Entity    Year
Australia 2012                 250                833083.4
          2013                 290                852651.1
          2014                1320                823680.0
          2015                1760                878240.0
          2016                1370                911963.3
...                            ...                     ...
World     2018             2050000              87080440.0
          2019             2080000              77920000.0
          2020             2970000              67744290.0
          2021             6500000              68212650.0
          2022            10200000              62657144.0

[390 rows x 2 columns]

In [1]:
#x_column = 'Year'
#y_column = "Electric cars sold"
#plt.bar(all_sales[x_column], all_sales[y_column])
#a = all_sales.plot(x="Year", y=["Electric cars sold", "Non-electric car sales"], kind="bar", rot=0)
#all_sales.groupby(['Year','Electric cars sold', 'Non-electric car sales'])['Entity'].plot.bar()

#plt.ylabel("Net Migration")
#plt.title('Net Migration over time')
#plt.figure(figsize=(30, 6))

In [33]:
gas_prices_to_load = Path("Resources/gas_prices.csv")
gas_prices = pd.read_csv(gas_prices_to_load)
gas_prices.set_index('Year')

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
2000,1.301,1.369,1.541,1.506,1.498,1.617,1.593,1.510,1.582,1.559,1.555,1.489
2001,1.472,1.484,1.447,1.564,1.729,1.640,1.482,1.427,1.531,1.362,1.263,1.131
2002,1.139,1.130,1.241,1.407,1.421,1.404,1.412,1.423,1.422,1.449,1.448,1.394
2003,1.473,1.641,1.748,1.659,1.542,1.514,1.524,1.628,1.728,1.603,1.535,1.494
2004,1.592,1.672,1.766,1.833,2.009,2.041,1.939,1.898,1.891,2.029,2.010,1.882
2005,1.823,1.918,2.065,2.283,2.216,2.176,2.316,2.506,2.927,2.785,2.343,2.186
2006,2.315,2.310,2.401,2.757,2.947,2.917,2.999,2.985,2.589,2.272,2.241,2.334
2007,2.274,2.285,2.592,2.860,3.130,3.052,2.961,2.782,2.789,2.793,3.069,3.020
2008,3.047,3.033,3.258,3.441,3.764,4.065,4.090,3.786,3.698,3.173,2.151,1.689
2009,1.787,1.928,1.949,2.056,2.265,2.631,2.543,2.627,2.574,2.561,2.660,2.621
2010,2.731,2.659,2.780,2.858,2.869,2.736,2.736,2.745,2.704,2.795,2.852,2.985
2011,3.091,3.167,3.546,3.816,3.933,3.702,3.654,3.630,3.612,3.468,3.423,3.278
2012,3.399,3.572,3.868,3.927,3.792,3.552,3.451,3.707,3.856,3.786,3.488,3.331
2013,3.351,3.693,3.735,3.590,3.623,3.633,3.628,3.600,3.556,3.375,3.251,3.277
2014,3.320,3.364,3.532,3.659,3.691,3.695,3.633,3.481,3.403,3.182,2.887,2.560
2015,2.110,2.249,2.483,2.485,2.775,2.832,2.832,2.679,2.394,2.289,2.185,2.060
2016,1.967,1.767,1.958,2.134,2.264,2.363,2.225,2.155,2.208,2.243,2.187,2.230
2017,2.351,2.299,2.323,2.418,2.386,2.337,2.281,2.374,2.630,2.484,2.548,2.459
2018,2.539,2.575,2.572,2.737,2.907,2.914,2.873,2.862,2.873,2.887,2.671,2.414
2019,2.289,2.353,2.564,2.835,2.901,2.752,2.776,2.655,2.630,2.673,2.620,2.587
2020,2.567,2.465,2.267,1.876,1.879,2.076,2.176,2.177,2.193,2.159,2.090,2.168
2021,2.326,2.496,2.791,2.839,2.972,3.154,3.233,3.255,3.265,3.385,3.482,3.408
2022,3.413,3.592,4.312,4.271,4.604,5.058,4.667,4.101,3.881,4.016,3.853,3.356
2023,3.452,3.514,3.551,3.735,3.685,3.712,3.732,3.955,3.988,3.782,3.500,3.289
2024,3.221,3.359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN